# .env.example
TZ=Europe/Tallinn
HA_URL=http://your-ha.local:8123
HA_TOKEN=your_long_token_here
SENSOR_SOURCE=sensor.qw_source
SENSOR_MODE=sensor.qw_mode
SENSOR_GRID_IMPORT=sensor.shellyem3_485519dbeee9_channel_a_energy,sensor.shellyem3_485519dbeee9_channel_b_energy,sensor.shellyem3_485519dbeee9_channel_c_energy
SENSOR_GRID_EXPORT=sensor.shellyem3_485519dbeee9_channel_a_energy_returned,sensor.shellyem3_485519dbeee9_channel_b_energy_returned,sensor.shellyem3_485519dbeee9_channel_c_energy_returned
SENSOR_NORDPOOL=sensor.nordpool_kwh_ee_eur_3_10_0
KRATT_SHARE=0.20
